altgraph==0.17.4
beautifulsoup4==4.12.3
bs4==0.0.2
lxml==5.2.2
macholib==1.16.3
modulegraph==0.19.6
numpy==2.0.1
packaging==24.1
pandas==2.2.2
py2app==0.28.8
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pypng==0.20220715.0
python-dateutil==2.9.0.post0
pytz==2024.1
qrcode==7.4.2
setuptools==72.1.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.31
typing_extensions==4.12.2
tzdata==2024.1
